:root{
    background-color: #ecf5ff;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    color: #333;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#c-fluid{
    padding: 0; 
}
canvas{
    border: 5px springgreen solid;
}
#row1{
    border : 2px solid green;
    height : 10rem;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 233, 246);
}
.col1{
    /* border- ; */
    border-style: solid;
    border-color: lightcoral;
    align-items: stretch;
    width: 20%;
}
img{
    max-width: 100%;
    min-width: 50%;
}